.footer-container{
margin-top: 10rem;
margin-bottom: 10rem;
padding: 0 8rem;
}
.footer{
    display: flex;
    gap: 0 5rem;
}
.footer-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem 0;
}
.footer-heading{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
  

}
.footer-text{
text-decoration: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;

}
.footer-link{
    display: flex;
    align-items: center;
    gap: 0 1rem;
}
.footer-social-link{
margin-top: 5rem;
background: #FAFAFA;
height: 74px;
display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem;
}
.footer-social-container{
    display: flex;
    justify-content: space-between;

}
.footer-social-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.footer-social-icon{
    display: flex;
    align-items: center;
    gap: 0 2rem;
}

    /* Mobile responsive */
 
    @media screen and (max-width: 1150px) {
        .footer-container{
            padding:0 2rem;
            
        }
        .footer-social-link{
            padding: 0 2rem;
        }
    }
    @media screen and (max-width: 800px) {
        .footer{
          flex-direction: column;
          align-items: center;
          gap: 1rem 0;
            
        }
        .footer-details{
            width: 100%;
            align-items: center;
        }
      
    }

    @media screen and (max-width: 1150px) {
        .footer-container{
            padding:0 1rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        .footer-text{
            font-size: 12px;
        }
        .footer-social-link{
            margin-top: 0;
        }
        .footer-social-container{
            flex-direction: column;
            align-items: center;
            gap: 1rem 0;
        }
       
    }
    @media screen and (max-width: 380px) {
       .footer-text{
        font-size: 10px;
       }
      .footer-social-text{
        font-size: 12px;
      }
    }